.main-content{
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.349), 0 2px 2px rgba(0, 0, 0, 0.39);
    padding-top: 150px;
    padding-bottom: 150px;
    background-position: center;
    background-size: cover;
    background-image: url(images/background-2-blur.png);
}   
.banner{
    display: block;
    margin: auto;
    height: 425px;
    width: 750px;
    background-image: url(images/kygo-photo-2.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
form{
    margin: 100px auto;
    width: 725px;
    background-color: #00000062;
    padding: 50px;
    transition: 0.3s;
}
form:hover{
    margin: 100px auto;
    width: 725px;
    background-color: #000000bd;
    padding: 50px;
    transition: 0.3s;
}
form h1{
    text-align: center;
    padding-bottom: 30px;
}

form p{
    text-align: center;
    padding-bottom: 60px;
    font-style: italic;
}
form input{
    margin: auto;
    margin-bottom: 20px;
    border: 1;
    border-width: 3px;
    border-color: #ffffff;
    border-style: solid;
    display: block;
    padding: 20px;
    width: 350px;
}

#button-spacer{
    padding: 20px;
}

form .submit{
    font-family: inherit;
    font-size: 12pt;
    font-weight: bold;
    transition: .3s;
    display: block;
    padding: 20px 80px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

form .submit:hover{
    transition: .3s;
    transform: scale(1.02);
    padding: 20px 60px;
    color: #000;
    background-color: #fff;
    outline:1.5px solid rgb(194, 41, 255);
    box-shadow: 0 3px 35px rgba(47, 24, 255, 0.527);
}

@media only screen and (max-width: 849px){
    .main-content{
        padding-top: 0px;
    }
    .banner{
        display: block;
        margin: auto;
        height: 1000px;
        width: 100%;
        background-image: url(images/kygo-photo-2.jpg);
        background-size: cover;
        background-position: right;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    form{
        margin: 150px auto;
        padding: 25px;
        width: 80%;
        background-color: #00000062;
        transition: 0.3s;
    }
    form:hover{
        padding: 25px;

        margin: 150px auto;
        width: 80%;

        background-color: #000000bd;
        transition: 0.3s;
    }
    form input{
        margin: auto;
        margin-bottom: 20px;
        border: 1;
        border-width: 3px;
        border-color: #ffffff;
        border-style: solid;
        display: block;
        padding: 20px;
        width: 75%;
    }
}