@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.main-content h1{
    text-align: center;
    font-weight: bold;
}

.banner{
    height: 1200px;
    background-image: url(images/golden-hour-banner-new.png);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    box-shadow: inset 0 2px 5px rgba(39, 39, 39, 0.19), 0 1px 1px rgba(0, 0, 0, 0.205);

}

.banner-flex{
    font-family: 'Libre Baskerville', serif;
    color: #222222;
    position: absolute;
    left: 0; right: 0;
    top: 20%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner h3{
    text-align: center;
    letter-spacing: 3pt;}

.banner iframe{
    width: fit-content;
    display: block;
    margin: 35px auto;
    width: 550px;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.23);
}

.news{
    background-color: #3a3a3a;
    padding-top: 150px;
    padding-bottom: 150px;
    box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.561);
}

.news h1{
    color: #fff;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.774);
    padding-bottom: 60px;
}

.news-flex{
    width: 775px;
    margin: auto;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-items{
    background-color: #fff;
    margin-bottom: 80px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.65), 0 3px 3px rgba(0,0,0,0.23);
}

.news-items div{
    align-items: center;
}

.news-items img{
    display: block;
    margin: auto;
    width: 250px;
    object-fit: cover;
    object-position: center;
}

.news-details{
    padding: 40px;
    width: 50%;
}

.music{
    padding-top: 100px;
    padding-bottom: 150px;
    color: #fff;
    background-size: cover;
    background-image: url(images/background-1-blur.png);
}

.music h1{
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.349), 0 3px 3px rgba(0, 0, 0, 0.39);
}

.music-flex {
    margin: auto;
    width: 90%;
    padding-top: 50px; padding-bottom: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 27%;
}

.music-flex iframe {
    transition: all .3s;
    margin: 15px;
    width: 300px;
    height: 375px;
    box-shadow: 0 0px 25px rgba(197, 197, 197, 0.589);
}

.music-flex iframe:hover {
    transform:scale(1.08);
    outline:1.5px solid rgb(194, 41, 255);
    box-shadow: 0 3px 35px rgba(47, 24, 255, 0.527);
}